*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.4rem;
  color: #2d3142;
  background-color: #4f5d75;
}

.clearfix,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

fieldset {
  border: none;
}

.btn {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 5rem;
  cursor: pointer;

  &--primary {
    background-color: #1a75ff;
    color: #fff;
  }

  &--secondary {
    background-color: #a2a5aa;
    color: #fff;
  }
}

.nav {
  height: 6rem;
  background-color: #fff;
  z-index: 1000;

  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;

    & > a {
      text-decoration: none;
      color: #2d3142;
    }
  }

  &__user {
    font-size: 1.6rem;

    & > span:last-child {
      text-decoration: underline;
      color: #ef8354;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}
